.btn {
  display: inline-block;
  font-weight: $f_bold;
  cursor: pointer;
}
.btn--border {
  padding: 12.5px 14px;
  border: 2px solid $gray-light2;
  border-radius: 5px;
  font-size: 17px;
  color: $gray;
  transition: border-color .15s $cubic, color .15s $cubic;
  
  &:hover {
    border-color: $blue;
    color: $blue;
  }
}

.btn--primary {
  padding:  10.5px 38px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  color: $white;
  background-color: $blue;
  transition: opacity .15s $cubic;
  &:hover {
    opacity: .8;
  }
}
.modal-toggle {
  cursor: pointer;
}