$black: #2C2E30;
$black2: #11171F;
$gray: #7E8085;
$gray2: #54565A;
$gray3: #51545E;
$gray4: #545F75;
$gray5: #E7EAEE;
$gray6: #54565A;
$gray-light: #C5D0E6;
$gray-light2: #C9CDD5;
$gray-light3: #F6F8F9;
$gray-light4: #D2D2D2;
$gray-dark: #4F5265;
$red: #FC5C42;
$blue: #2F5BEA;
$white: #ffffff;

$f_regular:400;
$f_semi:600;
$f_bold:700;
$f_extrabold:800;

$OpenSans: OpenSans;

$cubic: cubic-bezier(.215,.61,.355,1);

